<div class="body">
  <div class="login">

    <mat-spinner *ngIf="loading" class="spinner" diameter="50"></mat-spinner>

    <form *ngIf="!loading" [formGroup]="form" (ngSubmit)="entrar()" >
      <img src="./assets/img/usuario.png" alt="Usuário" width="50%">
      <h1>Autenticação de Usuário</h1>
      <mat-form-field appearance="fill" class="largura">
        <mat-label>Login</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="usuario">
      </mat-form-field>
      <mat-form-field appearance="fill" class="largura">
        <mat-label>Senha</mat-label>
        <input type="password" matInput autocomplete="off" formControlName="senha">
      </mat-form-field>
      <br>
      <button type="submit" mat-raised-button color="primary" class="largura button" [disabled]="form.invalid">Entrar</button>
    </form>
  </div>
</div>


<!-- <img src="../../../assets/img/usuario.png" alt=""> -->
